:root {
  --main-yellow: #ffcf24;
  --bg-color: white;
  --button-red: #a03f2a;
  --button-blue: #445b95;
  --button-green: #49a02a;
  --dropdown-grey: #b7b5b5;
  --score-pink: #ff78c1;
  --basic-font: black;
  --blank-font: rgba(0, 0, 0, 0.494);
}

html.dark {
  --bg-color: #3d3c3c;
  --basic-font: white;
  --blank-font: rgba(255, 255, 255, 0.468);
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--basic-font);
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

a {
  color: var(----basic-font);
  text-decoration: none;
}
