.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    margin-top: 50px;
  }

  .buttonContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .buttonContainer > div {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}

.filterContainer {
  position: relative;
}

.filterIcon {
  font-size: 32px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
}
