.new {
  width: 80px;
  height: 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 1px 2px rgb(0 0 0 / 6%);
  font-size: 20px;
  font-weight: 600;
  background-color: var(--main-yellow);
  color: black;
}

.new:hover {
  color: white;
}

.fix {
  border-radius: 30px;
  border: none;
  background-color: var(--button-blue);
  color: white;
}

.delete {
  border-radius: 30px;
  border: none;
  background-color: var(--button-red);
  color: white;
}
