.container {
  background-color: var(--dropdown-grey);
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 40;
  top: 30px;
  right: 0px;
}

.container > div:first-child {
  border-bottom: 2px solid black;
  padding-bottom: 8px;
  width: 100%;
  text-align: center;
}

.container > div:last-child {
  padding-top: 16px;
  width: 100%;
  text-align: center;
}
