.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-yellow);
  color: black;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%), 0 1px 3px rgb(0 0 0 / 8%);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 32px;
}
