.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

.container > button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.container > button:hover {
  color: var(--main-yellow);
}
